<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nota 01 </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-title>
    <h1>{{titulo}}</h1>
  </ion-title>
  <ion-item>
    <ion-textarea placeholder="Type something here" [autoGrow]="true"
      value="{{contenido}}">
    </ion-textarea>
  </ion-item>
</ion-content>
