<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="Volver()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="borrar()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="guardar()">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item>
      <ion-input [(ngModel)]="titulo" placeholder="Titulo"></ion-input>
      <button clear item-right></button>
     </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-textarea [(ngModel)]="contenido" placeholder="Type something here" [autoGrow]="true">
    </ion-textarea>
  </ion-item>
</ion-content>
