
.carta{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10 auto;    
    
}

.foto{
    
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.titulo{
    margin: 0 auto;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.griditem{
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.borrar{
    position: relative;
    margin-top: 25px;
    margin-left: 1rem;
}

.pass{
    position: relative;
    margin-top: 25px;
    pointer-events: auto;
}


.opciones{
    position: relative;
    margin-top: 15%;
    margin-bottom: 5%;
}


ion-item-divider {
    --background: #19422d00;
    --color: #dcdcdc;

    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-start: 5px;
    --padding-end: 5px;
    font-weight: bold;
  }

  ion-item {
    --background: #171717   ;
    --color: #a4a4a4;
  
    --border-color: #fff;
    --border-style: solid;
    --border-width: 1px;

    --border-radius: 0.5rem;
  
  
    --detail-icon-color: white;
    --detail-icon-opacity: 1;
    --detail-icon-font-size: 20px;
    margin-bottom: 0.5rem;
  }