
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="Volver()"></ion-back-button>
    </ion-buttons>
    <ion-item>
      <ion-input [(ngModel)]="titulo" placeholder="Titulo"></ion-input>
     </ion-item>
     <ion-buttons slot="end">
      <ion-button (click)="guardar()">
        <ion-icon color="tertiary" slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

      <ion-item lines="full">
        <ion-select
      placeholder="{{carpeta}}"
      (ionChange)="addtocarpet($event)"
    >
      <ion-select-option *ngFor="let item of carpetas[0]" value="{{item.nombre}}">{{item.nombre}}</ion-select-option>
    </ion-select>
      </ion-item>
   

  <ion-item lines="full">
    <ion-textarea [(ngModel)]="contenido" placeholder="Type something here" [autoGrow]="true">
    </ion-textarea>
  </ion-item>



  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="borrar()" color="danger">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
