<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Aplicacion De Notas</ion-card-title>
    <ion-card-subtitle>Inicio De Sesion</ion-card-subtitle>
  </ion-card-header>

<ion-card-content>
  <div><ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="usuario" placeholder="Ingresar nombre de usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input (keyup.enter)="login()" [(ngModel)]="pass" type="password" placeholder="Ingresar contraseña"></ion-input>
  </ion-item>
</div>
  
  <ion-grid>
    <ion-col size="2" offset="4"> <ion-button (click)="login()" expand="block" color="success" fill="outline">Ingresar</ion-button></ion-col>
    
    <ion-col size="2" offset="4"> <ion-button expand="block" color="tertiary" fill="outline" [routerLink]="['/register']">Registrarse</ion-button></ion-col>
  </ion-grid>
  
  </ion-card-content>
</ion-card>



</ion-content>
