.bonito{
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.747);
    border-style: solid;
}