<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis Notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab slot="fixed" vertical="top" horizontal="end">
  <ion-fab-button>
    <ion-icon name="caret-down-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button color="success" (click)="nuevaNota()">
      <ion-icon size="large" name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="tertiary" (click)="showcarpets()">
      <ion-icon size="large" name="folder-open-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="secondary" (click)="perfil()">
      <ion-icon size="large" name="person-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="danger" (click)="salir()">
      <ion-icon size="large" name="exit-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>    
<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis Notas</ion-title>
    </ion-toolbar>
  </ion-header>

 
  
  <ion-list lines="full" class="color">
    <div *ngIf="cargado === true; else conditionFalse">
      <ion-item class="item" button *ngFor="let item of notas[0]" [routerLink]="[item._id]" queryParamsHandling="merge">
        <ion-label>
          <h1>{{item.titulo}}</h1>
          <p>{{item.descripcion}}</p>
          <p>Creado el : {{item.fecha}}</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
    </div>
    <ng-template #conditionFalse>
      <div class="container">
        <p class="nada"> No hay nada aqui...</p>
        <p class="nada2">Crea una nueva nota !</p>
        <ion-button (click)="nuevaNota()" class="agregar" fill="clear" shape="round" size="large">
          <ion-icon   name="add-circle-outline"></ion-icon>
        </ion-button>
      </div>
      
    </ng-template>
  </ion-list>
  
</ion-content>