<ion-header>
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list>
</ion-content>