<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{carpeta}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlert2()">
        <ion-icon  slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="borrar()">
        <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

   
<ion-content>

  
  <ion-list lines="full" class="color">
    <div *ngIf="cargado === true; else conditionFalse">
      <ion-item class="item" button *ngFor="let item of notasencarpeta[0]" [routerLink]="[item._id]" queryParamsHandling="merge">
        <ion-label>
          <h1>{{item.titulo}}</h1>
          <p>{{item.descripcion}}</p>
          <p>Creado el : {{item.fecha}}</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
    </div>
    <ng-template #conditionFalse >
      <div class="container">
        <p class="nada"> No hay notas en esta carpeta...</p>
        <ion-button (click)="presentAlert2()" class="agregar" fill="clear" shape="round" size="large">
          <ion-icon  name="add-circle-outline"></ion-icon>
        </ion-button>
      </div>
    </ng-template>
  </ion-list>
  
</ion-content>