.color{
    position: relative;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 0.5rem;
    width: 90%;
    border-color: greenyellow;
}

.item{
    position: relative;
    margin: 1%;
    padding: 1%;
    --border-color: rgba(255, 255, 255, 0.747);
}