<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registar Nuevo Usuario</ion-card-title>
      <ion-card-subtitle>Ingrese sus datos</ion-card-subtitle>
    </ion-card-header>
  
  <ion-card-content>
    <ion-list>
      <ion-item-group>
        <ion-item-divider>
          <ion-label slot="start">
            Informacion Personal
          </ion-label>
        </ion-item-divider>
    
        <ion-item>
          <ion-label  position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" placeholder="Ingrese Su Nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input [(ngModel)]="apellido" placeholder="Ingrese suio Apellido"></ion-input>
        </ion-item>
      </ion-item-group>
    
      <ion-item-group>
        <ion-item-divider>
          <ion-label>
            Informacion De Usuario
          </ion-label>
        </ion-item-divider>
    
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input [(ngModel)]="usuario" placeholder="Ingresar nombre de usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="pass" type="password" placeholder="Ingresar contraseña"></ion-input>
        </ion-item>

      </ion-item-group>
    </ion-list>
    

  
    <ion-grid>
      <ion-col size="2" offset="4"> <ion-button (click)="registar ()" expand="block" color="tertiary" fill="outline">Register</ion-button></ion-col>
    </ion-grid>
    
    </ion-card-content>
  </ion-card>
  
  
  
  </ion-content>
  